@{
    ViewBag.Title = "Home Page";
}

@if (!User.Identity.IsAuthenticated)
{

    <div class="kitty-book">
        <div class="space"></div>

        <div class="register">
            Register
        </div>
        <div class="login">Log in</div>
    </div>
}
