@{
    ViewBag.Title = "Home Page";
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="kitty-book">
        <div class="space"></div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4">
                Welcome to BiblioCat, an application that will help you track and manage information about your favorite Books, Authors, Publishers, Series, and Conventions.
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2 btn btn-primary btn-lg">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2 btn btn-primary btn-lg">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</div>
        </div>
    </div>
}

<div class="small-space"></div>
<div class="row">
    <div class="col-md-4">
        <a class="btn btn-primary btn-lg" href="/Author/Index">Add, Edit and Remove Authors</a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-primary btn-lg" href="/Book/Index">Add, Edit and Remove Books</a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-primary btn-lg" href="/Series/Index">Add, Edit and Remove Book Series</a>
    </div>
</div>

<div class="small-space"></div>

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-3">
        <a class="btn btn-primary btn-lg" href="/Publisher/Index">Add, Edit and Remove Publishers</a>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-3">
        <a class="btn btn-primary btn-lg" href="/Convention/Index">Add, Edit and Remove Conventions</a>
    </div>
</div>

<div class="small-space"></div>
