body {
    padding-top: 50px;
    padding-bottom: 20px;    
}

.kitty-book {
    background-image: url('Assets/catFrontPage.jpg');
    height: 100vh;
    position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.button-width {
    width: 20vh;
}

.space {
   height: 65vh;    
}

.small-space {
    height: 10vh;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
